<td>{{module}}</td>
<td>{{version}}</td>
<td>
  {{npm-dependency-checker
    version=version
    versionsPromise=versionsPromise
    dateCeiling=firstDateToCheck
    areVersionsDifferent=areVersionsDifferent
    action="firstVersionFound"
  }}
</td>
<td>
  {{npm-dependency-checker
    version=version
    versionsPromise=versionsPromise
    dateCeiling=secondDateToCheck
    areVersionsDifferent=areVersionsDifferent
    action="secondVersionFound"
  }}
</td>
