{{#each dependencies as |dependency|}}
  {{dependency-row
    dependency=dependency
    nestingLevel=nestingLevel
    repoWorkingDate=repoWorkingDate
    repoBrokenDate=repoBrokenDate
    parentDependencies=parentDependencies
    hasFirstCircularReferenceFromParent=hasFirstCircularReference
    hasSecondCircularReferenceFromParent=hasSecondCircularReference
    stopCrawling=stopCrawling
    shouldOnlyShowDifferent=shouldOnlyShowDifferent
    doneCrawling="doneCrawling"
  }}
{{/each}}
{{#if error}}
  <tr><td>{{error}}</td></tr>
{{/if}}
