---
language: node_js
node_js:
  - "4"

sudo: false

branches:
  only:
    - master
    - /^greenkeeper\/.*$/

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache # includes bowers cache

env:
  global:
    - PERCY_PROJECT=kellyselden/package-hint-historic-resolver
    - PERCY_PARALLEL_TOTAL=5
  matrix:
    - PARTITION=1
    - PARTITION=2
    - PARTITION=3
    - PARTITION=4
    - PARTITION=5

before_install:
  - npm config set spin false
  - npm install -g bower phantomjs-prebuilt
  - bower --version
  - phantomjs --version

install:
  - npm install
  - bower install

script:
  - ./scripts/travis.sh

after_script:
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
