<h2 id="title">Welcome to Ember</h2>

{{dependency-table
  repoUrl=repoUrl
  repoDate=repoDateDeserialized
  firstDateToCheck=firstDateToCheckDeserialized
  secondDateToCheck=secondDateToCheckDeserialized
  repoUrlUpdated="updateRepoUrl"
  repoDateUpdated="updateRepoDate"
  firstDateToCheckUpdated="updateFirstDateToCheck"
  secondDateToCheckUpdated="updateSecondDateToCheck"
}}
