<h2 id="title">Why is CI Broken?</h2>

{{dependency-component
  repoUrl=repoUrl
  repoWorkingDate=repoWorkingDate
  repoBrokenDate=repoBrokenDate
  repoUrlUpdated="updateRepoUrl"
  repoWorkingDateUpdated="updateRepoWorkingDate"
  repoBrokenDateUpdated="updateRepoBrokenDate"
}}
