<h2 id="title">Welcome to Ember</h2>

{{dependency-component
  repoUrl=repoUrl
  repoDate=repoDate
  firstDateToCheck=firstDateToCheck
  secondDateToCheck=secondDateToCheck
  repoUrlUpdated="updateRepoUrl"
  repoDateUpdated="updateRepoDate"
  firstDateToCheckUpdated="updateFirstDateToCheck"
  secondDateToCheckUpdated="updateSecondDateToCheck"
}}
