<h2 id="title">Why is CI Broken?</h2>

{{dependency-component
  repoUrl=repoUrl
  repoDate=repoDate
  dateWentBad=dateWentBad
  repoUrlUpdated="updateRepoUrl"
  repoDateUpdated="updateRepoDate"
  dateWentBadUpdated="updateDateWentBad"
}}
